header{
    width: 100%;
    border: black solid 1px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    margin: 0px;
}

.campos{
    display: flex;
}

#chat{
    width: 100%;
    border: black solid 1px;
    min-height: 200px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fundoVerde{
    background-color: greenyellow;
    justify-content: space-between;
    display: flex;
}


.fundoAzul{
    background-color: lightblue;
    justify-content: space-between;
    display: flex;
}

